.about{
    min-height: 900px;
    padding: 80px 0;
    &-answers, &-questions{
        display: grid;
        grid-template-columns: repeat(auto-fit, 360px);
        grid-template-rows: 255px;
        justify-content: space-between;
    }
    &-answers{
        margin-top: 33px;
    }
    &__item{
        border: 1px solid #ececec;
        border-radius: 3px;
        position: relative;
    }
    &__img{
        display: block;
        margin: 0 auto;
    }
    &__descr{
        margin-top: -10px;
        color: #393939;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;
        &_bold{
            font-weight: 700;
        }
    }
    &__icon{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__title{
        margin-top: 33px;
        text-align: center;
    }
    &-arrows{
        height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        &__item{
            display: grid;
            grid-template-columns: repeat(2, 75px);
            span{
                display: block;
                width: 85px;
                height: 2px;
                background-color: #ececec;
                &:nth-child(1){
                    transform: rotate(25deg);
                }
                &:nth-child(2){
                    transform: rotate(-25deg);
                }
            }
        }
    }
}