.title{
    font-weight: 700;
    &_fz16{
        font-size: 16px;
    }
    &_fz30{
        font-size: 30px;
        line-height: 36px;
    }
    &_fz48{
        color: #393939;
        font-size: 48px;
    }
    &_wht{
        color: #ffffff;
    }
    &_blck{
        color: #393939;
    }
}